.page {
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
}

body {
margin: 0;
color: $text-black;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

h2,
.features-item__title {
	margin: 0;
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	color: $title-black;
}

.button {
	text-transform: uppercase;
	text-decoration: none;
}