
.header-slider {
	position: relative;
	margin-top: 140px;
	@media (max-width: 1200px) {
		margin-top: 100px;
	}
	@media (max-width: 1200px){
		margin-top: 50px;
	}
}
.slider-list {
	@include list-reset(0px);
}
.slider-item {

}
.slide {
	display: none;
}

.slide-current {
	display: block;
}

.slider-item-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider__content {
	max-width: 506px;
	@media (max-width: 880px){
		margin-left: 5%;
		max-width: 90%;
	}
}
.slide-title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 45px;
	line-height: 60px;
	font-weight: 700;
	color: $text-white;
	@media (max-width: 1000px) {
		font-size: 40px;
		line-height: 53px;

	}
}
.slide-text {
	margin: 0;
	margin-bottom: 60px;
	font-size: 24px;
	line-height: 55px;
	font-weight: 400;
	color: $text-white;
	@media (max-width: 1050px) {
		margin-bottom: 30px;
	}
	@media (max-width: 768px) {
		margin-right: 5%;
		line-height: 35px;
	}
}
.slide-button {
	display: inline-block;
	padding: 13px 39px;
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	color: $text-purple;
	background-color: $yellow;
	border-radius: 25px;

}
.slider__image {
	left: 0;
	bottom: 0;
	margin-right: 80px;
	@media (max-width: 1000px){
		margin-top: 30px;
	}
	@media (max-width: 880px){
		display: none;
	}

}
.slider-controls {
	position: absolute;
	right: 0px;
	top: 100px;
	@media (max-width: 768px) {
		top: 40px;
	}
	@media (max-width: 7522px) {
		top: 80px;
	}

	button {
		display: block;
		border:none;
		background-color: #fff;
		opacity: .5;
		font-size: 0;
		padding: 0;
		height: 7px;
		width: 7px;
		border-radius: 3.5px;
		cursor: pointer;
		outline: none;
		margin: 15px auto;
	}
	.current {
		width: 15px;
		opacity: 1;
	}
}


