.specialised {
	margin-top: 65px;
	margin-bottom: 65px;
	background-image: url("../img/specialised-figure-bg.svg");
	background-position: left center;
	background-repeat: no-repeat;
	h2 {
		text-align: center;
	}
	@media (max-width: 1200px) {
		background-image: none;
	}
}
.specialised-wrapper {
	max-width: 980px;
	margin: 0 auto;
	margin-top: 95px;
	@media (max-width: 1000px) {
		margin-top: 60px;

	}
}
.specialised-list {
	@include list-reset(0px);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	@media (max-width: 768px) {
		justify-content: space-around;

	}

}
.specialised-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 280px;
	min-height: 280px;
	@media (max-width: 768px) {
		width: 45%;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@media (max-width: 550px) {
		width: 80%;
	}

}
.spicialised-item__title {
	margin: 0;
	margin-bottom: 11px;
}
.spicialised-item__images {
	order: -1;
	height: 160px;
	margin-bottom: 23px;

}
.spicialised-item__description {
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

