
$text-purple: #250F8A;
$text-white: #fff;
$text-black: #272727;
$title-black: #202020;

$yellow: #FFCA00;

$bg-light: #f4f9fd;

@import "slick.scss";

@import "fonts.scss";
@import "global.scss";
@import "visually-hidden.scss";
@import "viewports.scss";
@import "mixins/lists.scss";



@import "page.scss";
@import "page-header.scss";
@import "slider.scss";
@import "specialised.scss";
@import "features.scss";
@import "reviews.scss";
@import "page-footer.scss";
